*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*utilities*/

    .inline-block {
        display: inline-block;
    }

    .font-size-30 {
        font-size: 30px;
    }

    .font-size-40 {
        font-size: 40px;
    }

    /*colors*/

        .color-white {
            color: white;
        }

        .background-white {
            background-color: white;
        }

        .background-blue {
            background-color: rgb(44, 62, 80);
        }

    /*colors-end*/

    /*margin-padding*/

        .margin-10-5 {
            margin: 10px 5px;
        }

        .margin-10-0 {
            margin: 10px 0;
        }

    /*margin-padding*/

/*utilities*/

/*jumbotron*/

    #jumbotron {
        background-color: rgb(26, 188, 156);
    }

    #jumbo-img {
        width: 250px;
    }

    .margin-top-88 {
        margin-top: 88px;
    }

    .star-bar {
        width: 80px;
        height: 4px;
    }

/*jumbotron-end*/

.content, .content-title {
    background-color: aqua;
    width: 100%
}

#about {
    padding: 20px 0;
    background-color: green;
}

footer {
    background-color: orange;
    padding: 30px 0 0 0;
}

footer .content {
    height: 200px;
}

.bottom-bar {
    background-color: green;
    padding: 20px 0;
}

.bottom-bar .content {
    height: 100px;
}

/*media*/

@media screen and (min-width: 768px) {

    .width-145 {
        width: 145px;
    }

    .margin-10-15 {
        margin: 10px 15px;
    }

    .font-size-65 {
        font-size: 65px;
    }

    .font-size-55 {
        font-size: 55px;
    }

    .font-size-28 {
        font-size: 28px;
    }
}