*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bold;
}

/*utilities*/

    .inline-block {
        display: inline-block;
    }

    /*fonts*/

        .font-size-13 {
            font-size: 13px;
        }

        .font-size-16 {
            font-size: 16px;
        }

        .font-size-22 {
            font-size: 22px;
        }

        .font-size-30 {
            font-size: 30px;
        }

        .font-size-40 {
            font-size: 40px;
        }

    /*fonts-end*/
    /*colors*/

        #color-green {
            color: rgb(26, 188, 156);
        }

        .background-blue {
            background-color: rgb(44, 62, 80);
        }

        .background-green {
            background-color: rgb(26, 188, 156);
        }

    /*colors-end*/

    /*margin-padding*/

        .margin-10-5 {
            margin: 10px 5px;
        }

        .margin-10-0 {
            margin: 10px 0;
        }

    /*margin-padding*/

/*utilities*/

/*jumbotron*/

    #jumbo-img {
        width: 250px;
    }

    .margin-top-88 {
        margin-top: 88px;
    }

    .star-bar {
        width: 80px;
        height: 4px;
    }

/*jumbotron-end*/

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
}

.content, .content-title {
    width: 100%
}

footer {
    background-color: rgb(58, 84, 109);
}


/*media*/

@media screen and (max-width: 768px) {
    .container-small {
        width: 55%;
    }
}

@media screen and (min-width: 768px) {

    .width-145 {
        width: 145px;
    }

    .margin-10-15 {
        margin: 10px 15px;
    }

    .font-size-65 {
        font-size: 65px;
    }

    .font-size-55 {
        font-size: 55px;
    }

    .font-size-28 {
        font-size: 28px;
    }

    .container-small {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {

    .container-small {
        width: 85%;
    }

}